@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-primary: 180 40% 80%;
    --clr-primary-foreground: 0 0% 8%;

    --clr-background: 0 0% 97%;
    --clr-foreground: 0 0% 5%;
    --clr-foreground-muted: 0 0% 38%;

    --clr-popover: 0 0% 100%;
    --clr-accent: 0, 0%, 0%, 0.07;
    --clr-scrollbar: 0 0% 80%;
    --clr-border: 0 0% 90%;

    --radius: 0.35rem;
  }

  .dark {
    --clr-background: 240 6% 8%;
    --clr-foreground: 240 3% 98%;
    --clr-foreground-muted: 240 3% 72%;

    --clr-popover: 240 6% 14%;
    --clr-accent: 240, 6%, 100%, 0.1;
    --clr-scrollbar: 240 6% 23%;
    --clr-border: 240 6% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scrollbar scrollbar-track-transparent scrollbar-thumb-scrollbar h-full;
  }

  body {
    @apply h-full overflow-y-scroll bg-background text-foreground;
  }

  input[type="text"],
  input[type="number"] {
    @apply w-full;
  }

  input {
    @apply accent-primary;
  }
}
