@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 98%;

    --foreground: 240 8% 5%;
    --foreground-muted: 240 8% 55%;

    --background: 240 24% 97%;
    --background-card: 240 8% 98.5%;
    --background-input: 240 8% 100%;
    --background-popover: 240 8% 99%;

    --accent: 240, 80%, 20%, 0.05;
    --border: 240 8% 92%;
    --scrollbar: 240 8% 85%;

    --radius: 0.35rem;
  }

  .dark {
    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 8%;

    --foreground: 240 8% 98%;
    --foreground-muted: 240 8% 55%;

    --background: 240 8% 6%;
    --background-card: 240 8% 8%;
    --background-input: 240 8% 12%;
    --background-popover: 240 8% 10%;

    --accent: 240, 16%, 80%, 0.1;
    --border: 240 8% 18%;
    --scrollbar: 240 8% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply h-full scrollbar scrollbar-track-transparent scrollbar-thumb-scrollbar;
  }

  body {
    @apply h-full overflow-y-scroll bg-background text-foreground;
  }

  input {
    @apply accent-primary;
  }
}
