@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 240 8% 10%;
    --primary-foreground: 0 0% 98%;

    --foreground: 240 8% 5%;
    --foreground-muted: 240 8% 55%;

    --background: 240 28% 97%;
    --background-card: 240 10% 98.5%;
    --background-input: 240 10% 100%;
    --background-popover: 240 10% 99%;

    --accent: 240, 50%, 40%, 0.04;
    --border: 240 8% 94%;
    --scrollbar: 240 8% 85%;

    --radius: 4px;
  }

  .dark {
    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 8%;

    --foreground: 240 6% 98%;
    --foreground-muted: 240 6% 55%;

    --background: 240 6% 7%;
    --background-card: 240 6% 9%;
    --background-input: 240 6% 12%;
    --background-popover: 240 6% 11%;

    --accent: 240, 16%, 80%, 0.085;
    --border: 240 6% 15%;
    --scrollbar: 240 6% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply h-full scrollbar scrollbar-track-transparent scrollbar-thumb-scrollbar;
  }

  body {
    @apply h-full overflow-x-clip overflow-y-scroll bg-background text-foreground;
  }

  input {
    @apply accent-primary;
  }

  .shadow {
    @apply shadow-[0_2px_8px_#31315010] dark:shadow-[0_2px_8px_#0c0c0d];
  }
  .shadow-xl {
    @apply shadow-[0_3px_24px_#31315010] dark:shadow-[0_4px_30px_#0c0c0d20];
  }
}
